<div class="l-main">
  <main>
    {{> @title--level1}}
    {{> @image}}
    {{> @paragraph--level1}}
    {{> @paragraph--level2}}
    <div>{{> @action-bloc}}</div>
    {{> @action-bloc }}
    {{> @separator }}
    {{> @action-bloc--type2 }}
    {{> @menu }}
  </main>

</div>
