<p class="a-paragraph a-paragraph--level2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Hic architecto recusandae, <code>ducimus minus possimus</code> praesentium,
  dolorum quos.</p>

