.l-main {

  height: 100%;


  margin: 16px 16px 96px 16px;


  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * + * {
      margin-top: var(--spaceXL);
    }
  }

}
