:root {
  --colorPrimary: #F76A8C;
  --colorSecondary: #A32F80;

  --colorButton: #311570;

  --colorSuccess: #38c138;
  --colorSuccessLight: #c8f7b9;
  --colorSuccessDark: #076b07;

  --colorTextMain: #000972;
  --colorTextSecondary: #666666;
  --colorTextReversed: #ffffff;

  --colorInfo: #dbf9eb;
  --colorAction: #ffffff;
  --colorWarning: #f9e9db;

  --colorCode: #006b89;
  --colorCodeLight: #c8f0fd;

  --colorQuestion: #e7d3f5;

  --colorInputBorder: #666666;
}
