.m-action-bloc{
    width:327px;
    height:171px;
    border-radius: 18px;
    padding-top: 16px;


    display: flex;
    flex-direction: column;
}

.m-action-bloc--type1{
    justify-content: space-between;
    align-items: center;

    background: var(--colorAction);
    
        //Shadow box

        -webkit-box-shadow: 3px 10px 31px -12px rgba(115,115,115,1);
        -moz-box-shadow: 3px 10px 31px -12px rgba(115,115,115,1);
        box-shadow: 3px 10px 31px -12px rgba(115,115,115,1);
}

.m-action-bloc--type2{
    justify-content: space-between;
}