.a-paragraph {
    font-family: var(--fontFamilyMain);
    line-height: var(--lineHeightMain);
    color: var(--colorTextMain);
    text-align: center;
  
    code {
      font-family: var(--fontFamilyCode);
      font-weight: var(--fontWeightBold);
    }
  
    strong {
      font-weight: var(--fontWeightBold);
    }
  
  }
  
  .a-paragraph--level1 {
    font-size: var(--fontSizeL);
  }

  .a-paragraph--level2 {
    font-size: var(--fontSizeM);
  }

  .a-paragraph--level3 {
    font-size: var(--fontSizeM);
  }