.a-title {
  color: var(--colorPrimary);
  font-family: var(--fontFamilyTitle);
}

.a-title--level1 {
  font-size: var(--fontSizeXXL);
  text-transform: uppercase;
}

.a-title--level2 {
  font-size: var(--fontSizeXL);
}

